t<!-- Remove option to edit the page. -->
<!-- <a href="{{ site.repo }}/edit/{% if site.github_branch %}{{ site.github_branch }}{% else %}master{% endif %}/{{ page.path }}" target="_blank"><i class="fa fa-edit fa-fw"></i> Edit this page</a> -->
<a
  href="{{ site.repo }}/issues/new?labels=documentation&title=Rate this content: {{ page.title }}&body=You are commenting on [_`{{ page.path }}`_]({{ site.repo }}/tree/{{ site.github_branch }}/{{ page.path }}):%0A%0AWas this topic helpful:%0A- [ ] Yes%0A- [ ] No%0A%0APlease explain your response:%0A"
  target="_blank"
>
  <i class="fab fa-github fa-fw"></i> Rate this extension
</a>
<a
  href="{{ site.repo }}/issues/new?title=Feedback&body=We're always interested in feedback that can help us improve Db2 Developer Extension. Let us know what you think:"
  target="_blank"
>
  <i class="fa fa-comments fa-fw"></i> Report an issue
</a>
<!-- this will parse through the header fields and add a button to open
     an issue / ask a question on Github. The editable field should be in
     the post frontend matter, and refer to the label to open the issue for -->
